<!DOCTYPE html>
<html lang="en">
<head>
  <title>AUTISM CHILDREN</title>
  <%- include('./head.ejs') %>
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <%- include('./header.ejs') %>  
  <!-- #header -->

  <main id="main">
    <!--==========================
      blogs Section
    ============================-->
    <div id="single-blog-box" class="section-bg" >
        <header class="staggered-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay=".5s" style="animation-delay: 0.5s;">
            <div class="blog-cat">
                <a href="javascript:void(0);">Tin Tức</a>
            </div>

            <h2><span>TRẺ TỰ KỶ LÀ GÌ</span></h2>

            <div class="postedby" data-title="Posted by">
                <a href="javascript:void(0);"><span class="admin-sign">H</span>NGUYỄN HIẾU</a>
                <div class="post-date"> 19/07/2019</div>
            </div>

            <div class="single-blog-box-img">
                <img src="img/blog/app2.jpg" alt="" class="img-fluid">
            </div>
        </header>

        <div class="blog-dtls staggered-animation animated fadeInUp" data-os-animation="fadeInUp" data-os-animation-delay=".5s" style="animation-delay: 0.5s;">
            <div>
                <p>Tự kỷ (tiếng Anh: autism) là một chứng rối loạn phát triển đặc trưng bởi khiếm khuyết về mặt quan hệ nhân sinh, giao tiếp ngôn ngữ, giao tiếp phi ngôn ngữ và hành vi sở thích hạn chế và lặp đi lặp lại. Cha mẹ thường nhận thấy những dấu hiệu của bệnh này trong hai năm đầu đời của con mình.[1] Những dấu hiệu này thường phát triển dần dần, mặc dù một vài trẻ mắc chứng tự kỉ vẫn đạt mốc phát triển với tốc độ bình thường và sau đó giảm dần.[2] Tiêu chuẩn chẩn đoán yêu cầu những triệu chứng trở nên rõ rệt trong thời thơ ấu, thường là trước khi ba tuổi.[3] </p>

                <p>But what is good design you ask? In my opinion, it is work that meets and exceeds the needs and expectations of the end user, whilst delivering on business objectives and is beautiful and highly considered. There are many moving parts that go into creating these outcomes and to create good work. Unfortunately, there's too much to write about in just one post and it's not what I intend to write about today, but merely a segue to a small tool that we can add to our designers toolkit to help us get there. Something that can gauge the activities of users in a live environment and see how they are interacting with our work. And that is by using heat maps. Heat maps give you a page by page breakdown of where users are clicking and tapping. It provides us with a ton of data that we can extrapolate and make informed decisions about our design. Here are some of the benefits of using heat maps</p>
            </div>

            <div>
                <h5 class="hline-style">Craft a story around what is it that you want to communicate and say.</h5>
                <p>But what is good design you ask? In my opinion, it is work that meets and exceeds the needs and expectations of the end user, whilst delivering on business objectives and is beautiful and highly considered. There are many moving parts that go into creating these outcomes and to create good work. Unfortunately, there's too much to write about in just one post and it's not what I intend to write about today, but merely a segue to a small tool that we can add to our designers toolkit to help us get there. Something that can gauge the activities of users in a live environment and see how they are interacting with our work. And that is by using heat maps. Heat maps give you a page by page breakdown of where users are clicking and tapping. It provides us with a ton of data that we can extrapolate and make informed decisions about our design. Here are some of the benefits of using heat maps</p>

                <p> Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
            </div>

            <div class="like-n-share">
                <a href="#"><i class="primeface-share"></i> share</a>
                <a href="#"><i class="primeface-like"></i> like</a>
            </div>
        </div>
    </div>

  </main>

  <!--==========================
    Footer
  ============================-->
  <%- include('./footer.ejs') %>

</body>
</html>
