<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TRÒ CHUYỆN CÙNG CÁ CÁ</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicons/puzzle.png" rel="icon">
  <link href="img/favicons/puzzle.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <script src="js/chatbot.js"></script>

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

    <!--==========================
    Header
  ============================-->
  <%- include('./header.ejs') %>  
  <!-- #header -->

  <!--==========================
    Intro Section
  ============================-->

  <main id="main">
    
    <div id="botchat" class="section-bg wow fadeInUp">
        <div class='wrapper'>
            <div id="dialogue"></div>
            <form onSubmit="return chatbot.sendMessage()">
              <div class="text-box">
                <input type="text" name="message" id="message" autocomplete="off" disabled placeholder="Please wait... loading...">
                <input class="send-button" type="submit" value=">">
              </div>
            </form>
          </div>
    </div><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
     <!--==========================
    Footer
  ============================-->
  <%- include('./footer.ejs') %>
  <!--Botchat-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/idewcomputing/code-chatbot/src/chatbot.js"></script>

</body>
</html>
