<!DOCTYPE html>
<html lang="en">

<head>
  <title>Giới thiệu</title>
  <%- include('./head.ejs') %>
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <%- include('./header.ejs') %>
  <!-- #header -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <div id="about">
      <div class="container">

        <header class="section-header">
          <h3>Về chúng tôi</h3>
          <p>AUTISM CHILDREN là hệ thống hỗ trợ bậc phụ huynh làm việc với trẻ nhỏ thực hiện các
            chức năng sau:</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-checkmark-circled"></i></div>
              </div>
              <h2 class="title"><a href="#">Sàn Lọc</a></h2>
              <p>
                Gồm các bộ công cụ đánh giá trực tuyến (M-CHAT-R/F, ASQ-3, CARS) nhằm theo dõi sự phát triển của trẻ và
                phát hiện sớm trẻ có nguy cơ rối loạn phát triển và rối loạn phổ tự kỷ.</p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-help-buoy"></i></div>
              </div>
              <h2 class="title"><a href="#">Can Thiệp</a></h2>
              <p>
                Các nguyên tắc, chiến lược chung giúp cha mẹ có thể can thiệp cho con tại nhà, các bài tập can thiệp và
                các bộ câu hỏi, nhật ký hành trình giúp cha mẹ tự đánh giá tình trạng chung của trẻ và các kỹ năng cụ
                thể khi thực hiện can thiệp cho trẻ.</p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-book"></i></div>
              </div>
              <h2 class="title"><a href="#">Kiến thức</a></h2>
              <p>
                Kiến thức tổng hợp và cập nhật về các mốc phát triển, vai trò của sàng lọc phát hiện sớm, rối loạn phổ
                tự kỷ và những khó khăn của cha mẹ khi biết con tự kỷ. </p>
            </div>
          </div>

        </div>

      </div>
    </div><!-- #about -->


    <!--==========================
      Team Section,
    ============================-->
    <div id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Nhóm phát triển</h3>
          <p>AUTISM CHILDREN được phát triển bởi AUTISM CHILDREN Team</p>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Nguyễn Hiếu</h4>
                  <span>Leader - Back End</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Trần Nguyễn Bảo Ngọc</h4>
                  <span>Font End</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Nguyễn Thị Kim Nương</h4>
                  <span>Business Analyst</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Hà thị Ngọc</h4>
                  <span>Database</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div><!-- #team -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <%- include('./footer.ejs') %>

</body>

</html>