<!DOCTYPE html>
<html lang="en">
<head>
  <title>KHOA HOC | AUTISM CHILDREN</title>
  <%- include('./head.ejs') %>
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <%- include('./header.ejs') %>  
  <!-- #header -->

  <main id="main">
    <!--==========================
      blogs Section
    ============================-->
    <div id="blogs"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Khóa Học</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="blogs-flters">
              <li data-filter="*" class="filter-active">TẤT CẢ</li>
              <li data-filter=".filter-app">Bài Học Khái Niệm</li>
              <li data-filter=".filter-card">Bài Học Can Thiệp</li>
            </ul>
          </div>
        </div>
        </div>
        <div id="notification">
          <div class="carousel-content">
              <h6>Chưa hoàn thành chức năng</h6>
          </div>
        </div>

        <div class="row blogs-container">

          <div class="col-lg-4 col-md-6 blogs-item filter-app wow fadeInUp">
            <div class="blogs-wrap">
              <figure>
                <img src="public/img/khoahoc/khainiem/1.png" class="img-fluid" alt="">
                <a href="img/khoahoc/khainiem/1.png" data-lightbox="blogs" data-title="Hội Chứng Tự Kỷ Là Gì?" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="blogs-info">
                <h4><a href="#">Hội Chứng Tự Kỷ Là Gì?</a></h4>
                <p>Bài Học Khái Niệm</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 blogs-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="blogs-wrap">
              <figure>
                <img src="img/khoahoc/khainiem/2.png" class="img-fluid" alt="">
                <a href="img/khoahoc/khainiem/2.png" class="link-preview" data-lightbox="blogs" data-title="Trẻ Tự Kỷ Có Phải Do Nguyên Nhân Chậm Nói Hay Không?" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="blog-tre-tu-ky.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="blogs-info">
                <h4><a href="khoahoc">Trẻ Tự Kỷ Có Phải Do Nguyên Nhân Chậm Nói Hay Không?</a></h4>
                <p>Bài Học Khái Niệm</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 blogs-item filter-card wow fadeInUp">
            <div class="blogs-wrap">
              <figure>
                <img src="img/khoahoc/khainiem/3.png" class="img-fluid" alt="">
                <a href="img/khoahoc/khainiem/3.png" class="link-preview" data-lightbox="blogs" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="blogs-info">
                <h4><a href="#">Phân Loại Mức Độ Nặng Nhẹ Ở Hội Chứng Tự Kỷ</a></h4>
                <p>Bài Học Khái Niệm</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 blogs-item filter-app wow fadeInUp" data-wow-delay="0.2s">
            <div class="blogs-wrap">
              <figure>
                <img src="img/khoahoc/canthiep/1.png" class="img-fluid" alt="">
                <a href="img/khoahoc/canthiep/1.png" class="link-preview" data-lightbox="blogs" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="blogs-info">
                <h4><a href="#">Phương Pháp Điều Trị Cho Trẻ Tự Kỷ</a></h4>
                <p>Bài Học Can Thiệp</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 blogs-item filter-card wow fadeInUp">
            <div class="blogs-wrap">
              <figure>
                <img src="img/khoahoc/canthiep/2.png" class="img-fluid" alt="">
                <a href="img/khoahoc/canthiep/2.png" class="link-preview" data-lightbox="blogs" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="blogs-info">
                <h4><a href="#">Cách Dạy Trẻ Tự Kỷ Tại Nhà</a></h4>
                <p>Bài Học Khái Niệm</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 blogs-item filter-card wow fadeInUp">
            <div class="blogs-wrap">
              <figure>
                <img src="img/khoahoc/canthiep/3.png" class="img-fluid" alt="">
                <a href="img/khoahoc/canthiep/3.png" class="link-preview" data-lightbox="blogs" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
              </figure>

              <div class="blogs-info">
                <h4><a href="#">Cách Khắc Phục Tình Trạng Trẻ Tự Kỷ Hay La Hét</a></h4>
                <p>Bài Học Can Thiệp</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div><!-- #blogs -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <%- include('./footer.ejs') %>

</body>
</html>
