<!DOCTYPE html>
<html lang="en">

<head>
    <title>LAM KIEM TRA | AUTISM CHILDREN</title>
    <%- include('./head.ejs') %>
</head>

<body>

    <!--==========================
    Header
  ============================-->
    <%- include('./header.ejs') %>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->

    <main id="main">
        <section id="contact" class="section-bg wow fadeInUp">
            <form _ngcontent-nbd-c22="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="container">
                    <div class="section-header">
                        <h3>Bài sàng lọc đánh giá phát triển theo độ tuổi - ASQ®-3</h3>
                    </div>
                    <div id="notification">
                        <div class="carousel-content">
                            <h3>Chưa hoàn thành chức năng</h3>
                        </div>
                    </div>

                </div>
            </form>
        </section>
        <!-- #contact -->
    </main>

    <!--==========================
    Footer
  ============================-->
  <%- include('./footer.ejs') %>
</body>

</html>