<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng nhập</title>
    <%- include('./head.ejs') %>
</head>

<body>

    <!--==========================
    Header
  ============================-->
    <%- include('./header.ejs') %>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->

    <main id="main">
        <section id="contact" class="section-bg wow fadeInUp">
            <form _ngcontent-nbd-c22="" novalidate="" class="ng-untouched ng-pristine ng-valid">
                <div class="container">

                    <div class="section-header">
                        <h3>Bài sàng lọc đánh giá phát triển theo độ tuổi - ASQ®-3</h3>
                    </div>
                    <div _ngcontent-nbd-c0="" class="clearboth">
                        <router-outlet _ngcontent-nbd-c0=""></router-outlet>
                        <app-main _nghost-nbd-c11="">
                            <div _ngcontent-nbd-c11=""
                                class="container topmargin-sm bottommargin-sm clearfix clearboth">
                                <div _ngcontent-nbd-c11="" class="content border col-padding">
                                    <router-outlet _ngcontent-nbd-c11=""></router-outlet>
                                    <app-answersheet-edit _nghost-nbd-c22="">
                                        <div _ngcontent-nbd-c22="" class="row">
                                            <div _ngcontent-nbd-c22="" class="col-12">
                                                <div _ngcontent-nbd-c22="" class="question-container mb-4">
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <div>
                                                        <h3 _ngcontent-nbd-c22="" class="field mb-1"> A. GIAO TIẾP </h3>
                                                        <!----><small _ngcontent-nbd-c22=""
                                                            class="text-warning font-italic">Hãy chắc chắn thử những
                                                            hoạt động này cho trẻ</small>
                                                        <!---->
                                                    </div>
                                                    <div _ngcontent-nbd-c22=""
                                                        class="ng-untouched ng-pristine ng-valid">
                                                        <!---->
                                                        <div _ngcontent-nbd-c22=""
                                                            class="ng-untouched ng-pristine ng-valid">
                                                            <!---->
                                                            <!---->
                                                            <h4 _ngcontent-nbd-c22="">Câu 1</h4>
                                                            <app-asq-question-view _ngcontent-nbd-c22=""
                                                                formcontrolname="selectedOptionId" _nghost-nbd-c23=""
                                                                class="ng-untouched ng-pristine ng-valid">
                                                                <div _ngcontent-nbd-c23="">
                                                                    <p><span style="color: rgb(35, 31, 32);">Không ra
                                                                            hiệu hoặc dùng cử chỉ điệu bộ, bạn hãy yêu
                                                                            cầu con: “Con đặt sách </span><em
                                                                            style="color: rgb(35, 31, 32);">trên
                                                                        </em><span style="color: rgb(35, 31, 32);">bàn”
                                                                            và “Con đặt giày </span>
                                                                        <em style="color: rgb(35, 31, 32);">dưới
                                                                        </em><span style="color: rgb(35, 31, 32);">ghế”.
                                                                            Con của bạn có thực hiện đúng cả 2 mệnh lệnh
                                                                            này không?</span></p>
                                                                </div>
                                                                <!---->
                                                                <!---->
                                                                <!---->
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        id="defaultUnchecked"
                                                                        name="defaultExampleRadios">
                                                                    <label class="custom-control-label"
                                                                        for="defaultUnchecked">Có</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        id="defaultChecked" name="defaultExampleRadios"
                                                                        checked>
                                                                    <label class="custom-control-label"
                                                                        for="defaultChecked">Thỉnh thoảng</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        id="defaultChecked" name="defaultExampleRadios"
                                                                        checked>
                                                                    <label class="custom-control-label"
                                                                        for="defaultChecked">Chưa</label>
                                                                </div>
                                                                <!---->
                                                                <!---->
                                                            </app-asq-question-view>
                                                            <!---->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </app-answersheet-edit>
                                </div>
                                <div _ngcontent-nbd-c11="" class="content border col-padding">
                                    <router-outlet _ngcontent-nbd-c11=""></router-outlet>
                                    <app-answersheet-edit _nghost-nbd-c22="">
                                        <div _ngcontent-nbd-c22="" class="row">
                                            <div _ngcontent-nbd-c22="" class="col-12">
                                                <div _ngcontent-nbd-c22="" class="question-container mb-4">
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <div>
                                                        <h3 _ngcontent-nbd-c22="" class="field mb-1"> B. VẬN ĐỘNG THÔ
                                                        </h3>
                                                        <!----><small _ngcontent-nbd-c22=""
                                                            class="text-warning font-italic">Hãy chắc chắn thử những
                                                            hoạt động này cho trẻ</small>
                                                        <!---->
                                                    </div>
                                                    <div _ngcontent-nbd-c22=""
                                                        class="ng-untouched ng-pristine ng-valid">
                                                        <!---->
                                                        <div _ngcontent-nbd-c22=""
                                                            class="ng-untouched ng-pristine ng-valid">
                                                            <!---->
                                                            <!---->
                                                            <h4 _ngcontent-nbd-c22="">Câu 2</h4>
                                                            <app-asq-question-view _ngcontent-nbd-c22=""
                                                                formcontrolname="selectedOptionId" _nghost-nbd-c23=""
                                                                class="ng-untouched ng-pristine ng-valid">
                                                                <div _ngcontent-nbd-c23="">
                                                                    <p><span style="color: rgb(35, 31, 32);">Con của bạn
                                                                            có thể đứng một chân trong khoảng 1 giây mà
                                                                            không cần vịn vào bất cứ vật gì
                                                                            không?</span></p>
                                                                    <p></p><span style="color: rgb(35, 31, 32);"><span
                                                                            class="ql-cursor"></span></span><img
                                                                        src="img/download.jpg"></p>
                                                                </div>
                                                                <!---->
                                                                <!---->
                                                                <!---->
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        id="defaultUnchecked"
                                                                        name="defaultExampleRadios">
                                                                    <label class="custom-control-label"
                                                                        for="defaultUnchecked">Có</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        id="defaultChecked" name="defaultExampleRadios"
                                                                        checked>
                                                                    <label class="custom-control-label"
                                                                        for="defaultChecked">Thỉnh thoảng</label>
                                                                </div>
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="custom-control-input"
                                                                        id="defaultChecked" name="defaultExampleRadios"
                                                                        checked>
                                                                    <label class="custom-control-label"
                                                                        for="defaultChecked">Chưa</label>
                                                                </div>
                                                                <!---->
                                                                <!---->
                                                            </app-asq-question-view>
                                                            <!---->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </app-answersheet-edit>
                                </div>
                            </div>
                        </app-main>
                    </div>
                    <div _ngcontent-nbd-c22="" class="form-group clearfix fixed-btn-bar" id="btn-bar">
                        <div _ngcontent-nbd-c22="" class="fright"><button _ngcontent-nbd-c22=""
                                appmobileclass="button-small" class="button button-rounded button-aqua mr-2 ml-0"
                                type="button"> Lưu và thoát </button><button _ngcontent-nbd-c22=""
                                appmobileclass="button-small" class="button button-rounded nomargin" type="button"> Xem
                                kết quả </button></div>
                    </div>

                </div>
            </form>
        </section>
        <!-- #contact -->
    </main>

    <!--==========================
    Footer
  ============================-->
  <%- include('./footer.ejs') %>
</body>

</html>