<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>AUTISM CHILDREN</title>
  <%- include('./head.ejs') %>
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <%- include('./header.ejs') %>
  <!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <div id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="/img/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Trẻ Tự Kỷ Là Gì</h2>
                <p>Tự kỷ là tên gọi một hội chứng khi trẻ bị khiếm khuyết trong giao tiếp, trong tương tác với mọi người, khó khăn trong việc kiểm soát ngôn ngữ, hành vi, cảm xúc, dẫn đến giảm khả năng hòa nhập vào xã hội.</p>
                <a href="thuvien.ejs" class="btn-get-started scrollto">Tìm Hiểu Thêm</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </div><!-- #intro -->

  <main id="main">
    <!-- #services -->
    <div id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Mục Đích của Autism CHILDREN</h3>
          <p>Với mong ước và khao khát có thể góp 1 phần công sức bé nhỏ của mình giúp trẻ tự kỷ có thể sớm hòa nhập vào thế giới xung quanh. "Autism Children" - một phần mềm hỗ trợ giúp phụ huynh có thể dạy và theo dõi tình trạng trẻ tự kỷ.</p>
        </header>

      </div>
    </div>
    <!-- #services --> 

  </main>

  <!--==========================
    Footer
  ============================-->
  <%- include('./footer.ejs') %>

</body>

</html>